:root {
  --primary-color: #57e497;
  --secondary-color: #001220;
  --subtle-color: #1e303e;
  --subtle-text: #354a5a;
  --text-color: #ebebeb;
  --showcase-font: "Nabla";
  --title-font: "DM Serif";
  --text-font: "DMMono";
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background: #d1d1d1;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}

::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}

#root {
  width: 100vw;
  height: 100vh;
  background: var(--secondary-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  list-style: none;
  text-decoration: none;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
}

.showcase-screen {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(./assets/showcase-bg.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.showcase-screen-content {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #e3e3e3;
}

/* Homepage */

.landing-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  z-index: 2;
}

.landing-content h1 {
  font-family: var(--text-font);
  font-size: 4rem;
  letter-spacing: 2px;
}

.showcase-title {
  width: 50%;
  border: var(--text-color) dashed 5px;
}

.head1 {
  background-color: black;
  padding: 0rem 2rem;
  color: rgb(18, 240, 207);
  width: 70%;
}

.head1 span {
  color: goldenrod;
}

.head2 {
  background: black;
  padding: 0rem 2rem;
  margin-left: 5rem;
  color: var(--text-color);
  width: 65%;
}

.showcase-face {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  align-items: center;
  margin-top: 10vh;
  font-family: var(--text-font);
  color: var(--subtle-color);
  font-size: 3rem;
  text-align: center;
  border: var(--secondary-color) dashed 5px;
  padding-top: 1rem;
  line-height: 1.5;
  background-color: var(--text-color);
}

.showcase-face p {
  width: 100%;
}

.showcase-face p:nth-child(n + 1):nth-last-child(n + 2) {
  border-bottom: #1e303e solid 4px;
}

.face {
  width: 150px;
  height: 150px;
  background: url(/src/assets/hussain_front.png), rgb(173, 123, 99);
  background-position: center 55%;
  background-size: 150%;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
}

.blob {
  width: 300px;
  height: 300px;
  background: var(--secondary-color);
  position: absolute;
  border-radius: 49% 39% 61% / 44% 35% 65% 56%;
  top: 25%;
  left: 7%;
  z-index: 1;
}

/* ProjectPage */

.project-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 2;
}

.project-title {
  font-family: var(--text-font);
  color: var(--text-color);
  margin: 3rem 4rem 2rem 5rem;
  font-size: 4rem;
  align-self: flex-start;
}

.project-title span {
  color: goldenrod;
}

.thumb-container {
  width: 100%;
  height: 30vh;
}

.card-thumb {
  max-width: inherit;
  max-height: inherit;
  height: inherit;
  width: inherit;
  object-fit: cover;
}

.card-layouts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.project-card {
  width: 480px;
  height: 380px;
  margin: 2rem 3rem;
  grid-area: card;
  display: flex;
  flex-direction: column;
  transition: transform 0.2s;
  background: var(--subtle-text);
}

.project-card:hover {
  transform: scale(1.01);
}

.project-card:hover .card-title {
  color: gold;
}

.card-title {
  height: 100%;
  background: var(--subtle-text);
  padding: 1rem 1rem;
  font-family: var(--text-font);
  font-size: 0.75rem;
  color: var(--text-color);
}

/* About Me */

.contact-content {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.status-bar {
  margin-bottom: 1rem;
  display: flex;
  justify-content: flex-end;
}

.status-holder {
  background: var(--text-color);
  width: 60px;
  height: 60px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.7s ease-in-out;
}

.status-icon {
  width: 30px;
  height: 30px;
}

.contact-title-holder {
  width: 500px;
  height: 80px;
  background-color: var(--subtle-text);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contact-title-holder:hover .status-holder {
  transform: scale(2);
  transition: all 0.5s;
}

.contact-title-holder:hover .contact-title {
  color: turquoise;
}

.contact-ptr {
  width: 50px;
  height: 50px;
}

.contact-title {
  font-family: var(--text-font);
  color: var(--text-color);
  text-align: center;
}

/* Carosel */

.carosel-items {
  margin: 4rem 0;
  position: relative;
  width: 60vw;
  height: 60vh;
  box-shadow: 0px 0px 20px #bfbebe;
  align-self: center;
  background: var(--subtle-text);
}

.slide {
  max-width: inherit;
  max-height: inherit;
  height: inherit;
  width: inherit;
  object-fit: contain;
}

.slide-hidden {
  display: none;
}

.arrow {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  color: var(--secondary-color);
  border-radius: 100%;
  transition: color 0.2s;
}

.arrow:hover {
  color: var(--primary-color);
}

.prev {
  left: 2%;
}

.next {
  right: 2%;
}

.indicator {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  margin: 0 auto;
  width: 150px;
  left: 0;
  right: 0;
  bottom: 2%;
}

.spheres {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--subtle-text);
  border: 3px solid #888;
  margin: 0rem 0.2rem;
}

.spheres-selected {
  background-color: var(--primary-color);
  border: rgb(50, 216, 50) solid 3px;
}

/* Project-content Pages */

.page-content {
  width: 80%;
  background: url(./assets/bg-grid2.svg);
  background-size: 40%;
  background-position: center 51%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-content {
  width: 100%;
  margin-top: 3rem;
}

.title-content h1 {
  font-size: 3rem;
  font-family: var(--title-font);
  text-align: center;
}

.text-content {
  width: 80%;
  font-family: var(--text-font);
  font-size: 1.2rem;
  margin-bottom: 6rem;
}

/* Navbar */

.nav-icon {
  width: 90px;
  height: 90px;
  border-radius: 100px 100px 100px 10px;
  margin-top: 2rem;
  margin-bottom: 2.5rem;
  box-shadow: goldenrod 7px 7px;
}

.icon-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 4px dashed var(--secondary-color);
  width: 100%;
  background-color: var(--secondary-color);
}

.sidebar {
  background: var(--primary-color);
  width: 220px;
  border: var(--secondary-color);
  border-width: 4px;
  border-style: dashed;
}

.nav-main {
  font-family: "DMMono";
  font-weight: 600;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.links {
  width: 100%;
}

.nav-main .links li:first-child {
  border-width: 5px;
  text-indent: 2.5rem;
}

.nav-main .links li {
  list-style-type: none;
  line-height: 3;
  text-align: inherit;
  border-bottom: 1px solid var(--secondary-color);
  border-width: 5px;
  text-indent: 2.5rem;
}

.blank-color {
  width: 100%;
  height: 100%;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav-main .links li a:hover {
  background: var(--secondary-color);
  color: #fff;
}

.nav-main .links li a {
  text-decoration: none;
  color: var(--secondary-color);
  display: block;
}

.footer-img {
  width: 60px;
  height: 60px;
  margin: 1rem 0;
}

.footer-img:hover {
  transform: scale(1.1);
}

@font-face {
  font-family: "DMMono";
  src: url(./assets/DMMono-Regular.ttf);
}

@font-face {
  font-family: "MuktaExtra";
  src: url(./assets/Mukta-ExtraBold.ttf);
}

@font-face {
  font-family: "Paytone";
  src: url(./assets/PaytoneOne-Regular.ttf);
}

@font-face {
  font-family: "DM Serif";
  src: url(./assets/DMSerifDisplay-Regular.ttf);
}
