:root {
  --primary-color: #57e497;
  --secondary-color: #001220;
  --subtle-color: #1e303e;
  --subtle-text: #354a5a;
  --text-color: #ebebeb;
  --showcase-font: "Nabla";
  --title-font: "DM Serif";
  --text-font: "DMMono";
}

#root {
  width: 100vw;
  height: 100vh;
  background: var(--secondary-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  list-style: none;
  text-decoration: none;
  color: var(--text-color);
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
}

.showcase-screen {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(./assets/showcase-bg.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.showcase-screen-content {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--text-color);
}

/* Homepage */

.landing-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  z-index: 2;
}

.landing-content h1 {
  font-family: var(--text-font);
  font-size: 4rem;
  letter-spacing: 2px;
}

.showcase-title {
  width: 50%;
  border: var(--text-color) dashed 5px;
}

.head1 {
  background-color: black;
  padding: 0rem 2rem;
  color: rgb(18, 240, 207);
  width: 70%;
}

.head1 span {
  color: goldenrod;
}

.head2 {
  background: black;
  padding: 0rem 2rem;
  margin-left: 5rem;
  color: var(--text-color);
  width: 65%;
}

.showcase-face {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  align-items: center;
  margin-top: 10vh;
  font-family: var(--text-font);
  color: var(--subtle-color);
  font-size: 3rem;
  text-align: center;
  border: var(--secondary-color) dashed 5px;
  padding-top: 1rem;
  line-height: 1.5;
  background-color: var(--text-color);
}

.showcase-face p {
  width: 100%;
}

.showcase-face p:nth-child(n + 1):nth-last-child(n + 2) {
  border-bottom: #1e303e solid 4px;
}

.face {
  width: 150px;
  height: 150px;
  background: url(/src/assets/hussain_front.png), rgb(173, 123, 99);
  background-position: center 55%;
  background-size: 150%;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
}

.blob {
  width: 300px;
  height: 300px;
  background: var(--secondary-color);
  position: absolute;
  border-radius: 49% 39% 61% / 44% 35% 65% 56%;
  top: 25%;
  left: 7%;
  z-index: 1;
}

/* ProjectPage */

.project-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 2;
}

.project-title {
  font-family: var(--text-font);
  color: var(--text-color);
  margin: 3rem 4rem 2rem 5rem;
  font-size: 4rem;
  align-self: flex-start;
}

.card-thumb {
  align-self: center;
  width: 97%;
  margin: 0.5rem;
}

.card-layouts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.project-card {
  width: 480px;
  height: 380px;
  margin: 2rem 3rem;
  grid-area: card;
  display: flex;
  flex-direction: column;
  transition: transform 0.2s;
  background: black;
}

.project-card:hover {
  transform: scale(1.01);
}

.card-title {
  height: 100%;
  background: black;
  padding: 1rem 1rem;
  font-family: var(--text-font);
  font-size: 0.75rem;
}

/* About Me */

.profile-pic {
  width: 300px;
  height: auto;
  border-radius: 150px;
}

.about-content {
  position: absolute;
  top: 5%;
  left: 10%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 1rem;
}

.about-title {
  margin-top: 10%;
}

.about-section-text {
  width: 70%;
  margin-top: 10%;
  font-size: 1.5rem;
}

/* Project-content Pages */

.nier-content {
  width: 90%;
  height: 100%;
  background: url(./assets/bg-grid2.svg);
  background-size: 40%;
  background-position: center 51%;
}

.title-content h1 {
  margin: 3rem 0rem 0rem 3rem;
  font-size: 4rem;
  font-family: var(--title-font);
}

/* Navbar */

.nav-icon {
  width: 90px;
  height: 90px;
  border-radius: 100px 100px 100px 10px;
  margin-top: 2rem;
  margin-bottom: 2.5rem;
  box-shadow: goldenrod 7px 7px;
}

.icon-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 4px dashed var(--secondary-color);
  width: 100%;
  background-color: var(--secondary-color);
}

.sidebar {
  background: var(--primary-color);
  width: 220px;
  border: var(--secondary-color);
  border-width: 4px;
  border-style: dashed;
}

.nav-main {
  font-family: "DMMono";
  font-weight: 600;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.links {
  width: 100%;
}

.nav-main .links li:first-child {
  border-width: 5px;
  text-indent: 2.5rem;
}

.nav-main .links li {
  list-style-type: none;
  line-height: 3;
  text-align: inherit;
  border-bottom: 1px solid var(--secondary-color);
  border-width: 5px;
  text-indent: 2.5rem;
}

.blank-color {
  width: 100%;
  height: 100%;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav-main .links li a:hover {
  background: var(--secondary-color);
  color: #fff;
}

.nav-main .links li a {
  text-decoration: none;
  color: var(--secondary-color);
  display: block;
}

.footer-img {
  width: 60px;
  height: 60px;
  margin: 1rem 0;
}

.footer-img:hover {
  transform: scale(1.1);
}

@font-face {
  font-family: "DMMono";
  src: url(./assets/DMMono-Regular.ttf);
}

@font-face {
  font-family: "MuktaExtra";
  src: url(./assets/Mukta-ExtraBold.ttf);
}

@font-face {
  font-family: "Paytone";
  src: url(./assets/PaytoneOne-Regular.ttf);
}

@font-face {
  font-family: "DM Serif";
  src: url(./assets/DMSerifDisplay-Regular.ttf);
}
